@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto , sans-serif;
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased; /*Melhora a visualização da fonte no google chrome*/
    overflow: auto;
}

input, textarea {
    font: 400 18px Roboto , sans-serif;
}

.titulo {
    font-size: 4rem;
    font-weight: 900;  
    letter-spacing: 0.025em;
    text-align: left;
    color: #004725;
    line-height: 1.375;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: -15deg;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    display: inline-block;
    max-width: 100%;
}

.highlight {
    background-color: #004725;
    color: rgb(247, 250, 252);
    padding-left: 1rem;
    padding-right: 1rem;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: -12deg;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    display: inline-block;
}

.textInit {
    margin-top: -3rem !important;
    text-align: center !important;
    font-size: 2rem !important;
    font-weight: 500 !important;
    line-height: 1.625 !important;
    color: #004725;
}

.cardInit {
    max-width: 24rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 20;
    padding: 1.5rem 2rem;
    background-color: #021931;
    color: rgb(203, 213, 224);
    font-weight: 500;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    font-size: 0.875rem;
    line-height: 1.625;
}

.fontCardInit {
    color: #004725;
    font-weight: 500;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    font-size: 1rem;
    line-height: 1.625;
}

.cardLogin {
    max-width: 1280px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    color: #004725;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    flex: 1 1 0%; 
}

.MuiAppBar-root {
    height: 64px;
}

.MuiButton-root:hover {
    filter:brightness(90%); 
} 

.MuiButton-label { 
    font-weight: 700;
}  

.MuiFilledInput-input{
    background: #FFFFFF !important;
    border-radius: 8px;
}

.MuiFilledInput-underline:after {
    border-bottom: none !important;
}

.MuiAutocomplete-inputRoot {
    background: #FFFFFF !important;
    border-radius: 8px;
}

.MuiSwitch-colorSecondary.Mui-checked {
    color: #FFFFFF !important;
}

.MuiSwitch-track {
    background-color: #FFFFFF !important;
}

.btn-login {
    background-color: #004725 !important;
    color: #FFFFFF !important;
    width: 100% !important;
    height: 50px !important;
    max-width: 100%;
    align-content: center !important;
    padding: 6px 8px !important;
    font-size: 1rem !important;
    min-width: 64px !important;
    box-sizing: border-box !important;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-weight: 700 !important; 
    border-radius: 8px !important;
    letter-spacing: 0.04857em !important;  
    -webkit-appearance: none; 
}

.btn-login:hover {
    filter:brightness(90%); /*Da uma opacidade de 10%*/
}

.btn-form {
    background-color: #FFFFFF !important;
    color: #004725 !important;
}

.back-link {
    display: flex;
    align-items: center;
    margin: 10px;
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

/*As fontes importadas com react usam o formato svg, para dar margins, usar na tag svg*/
.back-link svg{
    margin-left: 8px;
    margin-bottom: 5px;
}

.back-link:hover {
    opacity: 0.8;
}

/*Alinha o botão no swal*/
.swal-footer {
    text-align: center;
}

/*Remover o underline dos links*/
:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

:-moz-any-link {
    text-decoration: none;
    color: inherit;
}

:any-link {
    text-decoration: none;
    color: inherit;
}

:-webkit-any-link:hover{ 
    color: #99ac8b;
    font-weight: bold;
}

:-moz-any-link:hover{ 
    color: #99ac8b;
    font-weight: bold;
}

:any-link:hover{ 
    color: #99ac8b;
    font-weight: bold;
}
.swal-text {
  text-align: center;
}
/*Remove os Arrows do number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
 